<%# views/recipes/private_recipes.html.erb %>

<div class="container d-flex flex-column gap-4">
    <h1 class="text-center">My Recipes</h1>
    <div class="row" style="border-style: solid;">
        <div class="col-md-6 d-flex flex-column justify-content-between">
            <h3>Recipe 1</h3><a href="#" style="font-weight: bold;">REMOVE</a>
        </div>
        <div class="col-md-6">
            <p><strong><span style="color: rgb(0, 0, 0);">Lorem Ipsum</span></strong><span style="color: rgb(0, 0, 0);"> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#39;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.</span></p>
        </div>
    </div>
    <div class="row" style="border-style: solid;">
        <div class="col-md-6 d-flex flex-column justify-content-between">
            <h3>Recipe 2</h3><a href="#" style="font-weight: bold;">REMOVE</a>
        </div>
        <div class="col-md-6">
            <p><strong><span style="color: rgb(0, 0, 0);">Lorem Ipsum</span></strong><span style="color: rgb(0, 0, 0);"> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#39;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.</span></p>
        </div>
    </div>
    <div class="row" style="border-style: solid;">
        <div class="col-md-6 d-flex flex-column justify-content-between">
            <h3>Recipe 3</h3><a href="#" style="font-weight: bold;">REMOVE</a>
        </div>
        <div class="col-md-6">
            <p><strong><span style="color: rgb(0, 0, 0);">Lorem Ipsum</span></strong><span style="color: rgb(0, 0, 0);"> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#39;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.</span></p>
        </div>
    </div>
</div>